html {
	background: white;
}

body {
	/*font-family: "sans serif"; */
	background: white;
	/*width: 80%;*/
	width: 800px; /* A4 Size @ ~96 dpi */
	margin: auto;
	padding: 40px;
}




a {
	color: #006699;
	text-decoration: none;
}

a:hover {
	color: grey;
	text-decoration: underline;
}

section p {
	line-height: 2 ;
}

/* ---- TITLE ---- */
.title {
	font-size: 12px;
	padding: 12px;
	border-bottom: 1px solid lightgrey;
}


/* ---- FIGURES------- */

figcaption {
	font-size: 12px;
}

figure img {	
	width: 100%;
}

/* ----- TABLES -------- */

table {
	border-collapse: collapse;
	border-bottom: 1px solid black;
	font-size: 12px;
	width: 100%;
	text-align: left;
}

th {
	background: white;
	border-top: 1px solid;
	border-bottom: 1px solid black;
}
table, th, td {
	padding: 10px;
}



/* ---- REFERENCES ---- */

.citation {
	color: #006699;
}

.citation a {
	color: #006699;
	/*text-decoration: none;*/
}


@media screen {
	
	#refs {
		width: 400px;
		height: 90vh;
		position: fixed;
		top: 20px;
		right: 20px;
		font-size: 12px;
		overflow-y: scroll;
		padding: 20px;
	}

	#TOC {
		width: 400px;
		position: fixed;
		top: 20px;
		left: 20px;
		font-size: 12px;
		padding: 20px;
	}


}


@media only screen and (max-width: 1700px) {


	#refs {
		position: initial;
		padding: 0;
		width: initial;
	}

	body {
		width: initial;
	}


	#TOC {
		width: 400px;
		position: initial;
		top: initial;
		left: initial;
		font-size: 12px; */
		padding: 20px;
		display: None;

	}


	#table1 {
		width: 100%;
		overflow-x: scroll;
		margin: 0;
	}

	#tableA1 {
		width: 100%;
		overflow-x: scroll;
		margin: 0;
	}


}




/* TABLE OF CONTENTS */
nav li, ul {
    list-style: none;
}

#TOC li, ul {
    list-style: none;
}


/* ----------  MODAL IMAGES -----------------*/

img {
	cursor: pointer;
	transition: 0.3s;	
}

img:active {
	opacity: 0.7;
}


/* The Modal (background) */
.modal {
	display: none; /* hidden by default */
	position: fixed; /* stay in place */
	z-index: 1; /* stay on top */
	padding-top: 50px; /* Location of the box  */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* enable scroll if needed */
	background-color: rgb(0,0,0); /*fallback color */
	background-color: rgba(0, 0, 0, 0.9);
}	

/* Modal Content (Image) */
.modal-content {
	margin: auto;
	display: block;
	max-width: 900px;
}


/* Caption of Modal Image (Image text) */
#imgCaption {
	margin: auto;
	display: block;
	width: 80%;
	text-align: left;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
	max-width: 900px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
	animation-name: zoom;
	animation-duration: 0.6s;
}

/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover, .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}


#citeToggle {
	cursor: pointer;
	color: #006699;
}

#citeToggle:hover {
	color: lightgrey;
	
}

#cite {
	margin: auto;
	width: 100%;
	overflow-x: scroll;
	background: #ededed;
	border-radius: 5px;
	color: #006699;
}

#cite pre {
	padding: 10px;
	text-align: left;
}


/* ---------- PRINT ---------- */

@media print {
	#refs {}

	#TOC {}

	#preprint {
		display: none;
	}

	
	.citation {
		color: black;
	}

	.citation a {
		color: black;
	}

	a {
		color: black;
	}

	
}

